#info {
    text-align: center;
    margin: 150px;
}

#greeting {
    font-family: larken, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
}

#email {
    font-family: indivisible, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}

@media only screen and (max-device-width : 640px) {
    #info {
        margin: 1em;
        margin-top: 8em;
    }
}