.gif {
    display: block;
    margin: auto;
    width: 850px;
    border: 0.5px solid gray;
    margin-bottom: 50px;
}

@media only screen and (max-device-width : 640px) {
    .gif {
        width: 20em;
        margin-bottom: 1em;
    }
    /* body {
        margin-bottom: 6em;
    } */
}