* {
    margin: 0px;
    padding: 0px;
}

p {
    margin-block-start: 0;
    padding: 0;
}

a {
    color: initial;
    text-decoration: none;
}

/* a:hover {
    opacity: 0.25;
} */

#nav a:hover {
    opacity: 0.25;
}

#name {
    font-family: larken, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 175px;
    margin-top: -40px;
    text-align: center;
}


#nav {
    font-family: indivisible, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    margin-top: -40px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: minmax(max-content);
    gap: 1px;
}

#work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(max-content);
    gap: 1px;
    row-gap: 12px;
    margin-top: 75px;
    margin-left: 175px;
    margin-right: 175px;
    margin-bottom: 75px;
}

#work img {
    margin: auto;
    width: 350px;
    height: 350px;
    border: 0.5px solid gray;
}

#work img:hover {
    opacity: 0.25;
}

#title {
    font-family: larken, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;
}

#description {
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 50px;
    font-family: indivisible, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.75;
}

@media only screen and (max-device-width : 640px) {
    #name {
        font-size: 8em;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    #nav {
        gap: 1em;
    }
    #work {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
    #work img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
    }
    #title {
        font-size: 2.5em;
        margin-top: 60px;
    }
    #description {
        margin-left: 1.25em;
        margin-right: 1.25em;
        margin-bottom: 2em;
    }
    img {
        border: 1.1px solid black;
    }
    .bottom {
        height: 6em;
    }
}

@media only screen and (max-device-width : 1140px) {
    #work {
        margin-left: 65px;
        gap: 12px;
    }
    #work img {
        width: 325px;
        height: 325px;
    }
}

@media only screen and (max-device-width : 1065px) {
    #work {
        margin-left: 3%;
    }
}